#a{
    text-align: center;
    color: black;
    border: 2px solid aquamarine;
    background-color: rgb(75, 165, 42);
}
#b{
    text-align: center;
    color: black;
    
}
p{
    border: 2px solid gold;
    background-color:black;
    
} 
fieldset{
    background-color: skyblue;
}
#next{
    margin-left: 95%;
    margin-top: -56px;
}
#c{
    background-color: rgb(144, 69, 4);
}